.board {
    display: flex;
    flex-wrap: nowrap;
    height: 90vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 16px;
    width: 100%;
    overflow-x: scroll;

    .board__add-list {
        button {
            width: 100%;
            margin: 0;
        }

        .add-list__form {
            margin-top: 2px;
            button {
                margin: .5rem 0;
            }
        }

        .add-list__color-picker {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
        }
    }
}