.card {
    min-height: 7rem;
    margin-top: 8px;
    border-radius: $radius;

    .card__header {
        height: 3.5rem;
        padding: 8px 12px;
        line-height: 25px;
        border-bottom: 1px solid $bg;
        color: #333333;

        i {
            font-size: 16px;
            margin-top: 6px;
            cursor: pointer;
            float: right;
            vertical-align: middle;
        }
    }

    .card__body {
        min-height: 130px;
        text-align: left;
    }

    .card__form {
        button {
            margin: 8px;
            cursor: pointer !important;
        }
        textarea {
            margin-top: 8px;
        }
    }
}