.column {
    min-height: 100%;
    overflow-y: scroll;

    .column__header {
        height: 2.5rem;
        font-size: 1rem;
        // font-weight: 500;
        background: $secondary;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $radius;

        i {
            float: right;
            margin: 5px;
            cursor: pointer;
        }

        span {
            width: 70%;
        }
    }

    .column__tail {
        flex-direction: column;
    }
}