.column {
    border: 1px solid green;
    height: 90vh;
    overflow-y: scroll;

    .column__header {
        height: 48px;

        i {
            float: right;
            margin: 5px;
            cursor: pointer;
        }
    }

    .column__tail {
        flex-direction: column;
    }
}